.cont-posts{
  display: flex;
  flex-direction: column;
}
.post-cont-text{
  max-width: 900px;
  width: 800px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px 20px;
  color: white;
  font-family: 'Outfit', sans-serif;
}
.cont-card{
  max-width: 900px;
  min-width: 330px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.word{
  color: #1ac0ec;
}

  

  

